Src/psml/doc/psml.rnc

# Relax-NG compact form

start = element psml { Provenance & Header & Grid* & 
                       Semilocal-potentials* & 
                       Pseudopotential-operator* &
                       Pseudo-wavefunctions* &
                       Valence-charge & Pseudocore-charge*  }
Grid = element grid { Annotation_grid* & Grid-data}
Annotation_grid = element annotation { }
Grid-data = element grid-data { text }
